* { box-sizing: border-box }

html, body { height: 100%; }

body { margin: 0; font-family: Arial; font-size: 16px }

.progress { position: fixed; top: 50%; left: 50%; z-index: 10; width: 400px; max-width: 90%; background: #f2f2f2; padding: 20px; transform: translateX(-50%) translateY(-50%); box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.4); }

.progress h1 { margin: 0; }

.progress h2 { color: #08ac00; font-size: 6rem; text-align: center; margin: 0; }

.last-results { display: flex; justify-content: space-between; }

.last-results h3 { font-size: 2.5rem; margin: 0; }

.actions { display: flex; align-items: center; margin-top: 40px; justify-content: space-between; }

.actions button { font-size: 1.2rem; padding: 12px 35px; }

.actions a { text-decoration: none; }

.actions a:hover { text-decoration: underline; }

form {
  text-align: center;
}

.header {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
}

.back {
  font-size: 4rem;
  text-decoration: none;
}
.back:after {
  content: 'Back';
  font-size: 1.5rem;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s;
  will-change: opacity, transform;
}
.back:hover:after {
  opacity: 1;
  transform: none;
}

.counter {
  text-align: center;
}

.percentage {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.timer {
  text-align: center;
}
.timer.alert .seconds {
  color: yellow;
}
.timer.danger .seconds {
  color: red;
}
.seconds {
  font-size: 3rem;
  font-weight: bold;
  display: block
}

.options {
  width: 70%;
  display: flex;
  margin: 3rem auto 2rem;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
}
.options label {
  width: 49%;
  padding: 10px 0 10px 45px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  position: relative;
}
.options label .check {
  display: block;
  position: absolute;
  border: 2px solid #ddd;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  top: 7px;
  left: 7px;
  z-index: 5;
  transition: border .25s;
}
.options label .check:before, .options label .check:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: 4px;
  left: 4px;
  transition: all .25s;
}
.options label:not(.wrong):not(.correct) input:checked  ~ .check {
  border-color: #28b8e6;
}
.options label:not(.wrong):not(.correct) input:checked ~ .check:before {
  background: #28b8e6;
}
.options label input {
  position: absolute;
  visibility: hidden;
}
.options label:hover {
  cursor: pointer;
  background: #eee;
}
.options label.correct {
  background: #08ac00;
  color: #fff;
  font-weight: 700;
}
.options label.correct .check:before {
  top: -5px;
  left: 7px;
  width: 10px;
  height: 20px;
  border-radius: 0;
  background: none!important;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}
.options label.wrong {
  background: red;
  color: #fff;
  font-weight: 700;
}
.options label.wrong .check:before, .options label.wrong .check:after {
  position: absolute;
  top: -4px;
  left: 10px;
  content: ' ';
  height: 33px;
  width: 4px;
  border-radius: 100%;
  background-color: #fff!important;
}
.options label.wrong .check:before {
  transform: rotate(45deg);
}
.options label.wrong .check:after {
  transform: rotate(-45deg);
}
.options label.wrong .check, .options label.correct .check {
  border: none!important;
}

button {
  font-size: 1.5rem;
  color: #fff;
  padding: 12px 50px;
  background: #28b8e6;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  transition: all 0.4s ease-out;
}
button:hover {
  background: #178db3;
}
button[disabled] {
  background: #ddd;
  cursor: not-allowed;
}
